/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset 'UTF-8';
@import url("font-awesome.min.css");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*=============== Base style ===============*/
html,
body {
  height: 100%;
}
body {
  /*background-color: #BFEFFF;*/
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.5em;
  color: #1a1a1a;
}
img {
  vertical-align: bottom;
}
.main-container {
  position: relative;
  height: auto;
  min-height: 100%;
}
.main-container > .span6,
.main-container > .span17 {
  /*margin-bottom: 3em;*/
}
.main-content {
  background-color: #FFFAF0;
  padding-bottom: 1.5em;
  min-height: 60em;
}
.bubble-line {
  border: none;
  height: 21px;
  background: -webkit-radial-gradient(center, #000000 2px, transparent 3px, transparent) repeat-x;
  background: -moz-radial-gradient(center, #000000 2px, transparent 3px, transparent) repeat-x;
  background: -o-radial-gradient(center, #000000 2px, transparent 3px, transparent) repeat-x;
  background: -ms-radial-gradient(center, #000000 2px, transparent 3px, transparent) repeat-x;
  background: radial-gradient(center, #000000 2px, transparent 3px, transparent) repeat-x;
  -webkit-background-size: 21px 21px;
  background-size: 21px 21px;
  margin: 0.75em 0;
}
.separator {
  margin: 1.5em 0;
  text-align: center;
  -webkit-box-shadow: inset 0 10px 0 #FFFAF0, inset 0 12px 0 #e5e5e5;
  box-shadow: inset 0 10px 0 #FFFAF0, inset 0 12px 0 #e5e5e5;
  position: relative;
}
.separator > b {
  background-color: #FFFAF0;
  color: #e5e5e5;
  font-size: 1.2857142857142858em;
  padding: 0 0.6111111111111112em 0 1.1666666666666667em;
  letter-spacing: 0.5555555555555556em;
  line-height: 1em;
}
.separator:before,
.separator:after {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: absolute;
  top: 50%;
  margin-top: -9px;
}
.separator:before {
  left: 0;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.separator:after {
  right: 0;
  -webkit-box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.2);
}
.decoration-curly {
  background: url(../img/curly_decoration.png) center center no-repeat;
  background-size: 100% auto;
  height: 4.5em;
}
/*=============== Typography ===============*/
@font-face {
  font-family: 'CACChampagneRegular';
  src: url('../css/fonts/cac_champagne/cac_champagne-webfont.eot');
  src: url('../css/fonts/cac_champagne/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/cac_champagne/cac_champagne-webfont.woff') format('woff'), url('../css/fonts/cac_champagne/cac_champagne-webfont.ttf') format('truetype'), url('../css/fonts/cac_champagne/cac_champagne-webfont.svg#CACChampagneRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  margin-bottom: 0.75em;
}
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2857142857142858em;
  line-height: 1.1666666666666667em;
  margin-bottom: 0.5833333333333334em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 1em;
  font-weight: 300;
}
h6 {
  font-size: 0.9285714285714286em;
  line-height: 1.0769230769230769em;
}
p,
figure,
ul,
ol {
  margin-bottom: 1.5em;
}
a {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
blockquote {
  font-family: 'CACChampagneRegular';
  color: #b776a8;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: 1px;
  position: relative;
}
blockquote:after {
  content: '\201C';
  font-family: fixedsys, consolas, monospace;
  position: absolute;
  font-size: 5em;
  line-height: 0.75em;
  color: #c4c4c4;
  top: 0;
  left: 0.15em;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
blockquote > p {
  margin: 1.5em 1em 1.5em 4em;
}
.blog-content {
  text-align: justify;
}
.blog-content ol,
.blog-content ul {
  list-style-position: inside !important;
}
.blog-content ol {
  list-style: decimal;
}
.blog-content ul {
  list-style: circle;
}
.blog-content .aligncenter {
  display: table;
  margin: 0 auto;
}
.blog-content .alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}
.blog-content .alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}
.blog-content .wp-caption {
  padding: 7px;
  box-shadow: 0 0 0 1px #e5e5e5;
  margin-bottom: 1.5em;
}
.blog-content .wp-caption > a {
  display: block;
}
.blog-content .wp-caption-text {
  color: #c4c4c4;
  text-align: center;
  margin: 0 auto;
  display: table-caption;
}
/*=============== Forms ===============*/
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
form {
  margin: 0 0 1.5em;
}
label,
input,
button,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 0.75em;
  line-height: 1.5em;
}
textarea {
  resize: vertical;
}
input[type=submit] {
  background: #b776a8;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: inline-block;
}
input[type=submit]:hover {
  background: #000000;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: none;
  line-height: 1.5em;
  padding: 0.75em;
  outline: none;
  vertical-align: middle;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);
  box-shadow: 0 0 1px 1px rgba(0,0,0, 0.2);
}

/*========== Menu styles ==========*/
.menu-side {
  /*background-color: #ffaaaa;*/
  background-color: rgba(255,0,0,0.4);
  -webkit-box-shadow: 1px 0 4px #ACB2C8;
  box-shadow: 1px 0 4px #ACB2C8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 0 !important;
  min-height: 600px;
}
.her-and-him {
  margin-top: 1em;
  text-transform: none;
  text-align: center;
  background: url(../img/logo_glam.png) top center no-repeat;
  padding-top: 2em;
  padding-bottom: 0.4em;
}
.her-and-him > a {
  font-family: 'Lovers Quarrel', cursive;
  letter-spacing: 5px;
  color: #1a1a1a;
  font-size: 50px;
}
.her-and-him > a > span {
  display: block;
  width: 100%;
}
.ribbon-event {
  padding: 0 4em;
  position: relative;
  text-align: center;
}
.ribbon-event > h3 {
  background: #000000;
  font-family: fixedsys, consolas, monospace;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3125em;
  padding: 1.3125em 0;
  position: relative;
  z-index: 10;
  margin: 0;
}
.ribbon-event > h3 + p {
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px;
  padding-top: 0.5em;
}
.ribbon-event > h3:before,
.ribbon-event > h3:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  position: absolute;
  top: -20px;
  z-index: 0;
}
.ribbon-event > h3:before {
  border-right: 20px solid #FFFAF0;
  left: 0px;
}
.ribbon-event > h3:after {
  border-left: 20px solid #FFFAF0;
  right: 0px;
}
.ribbon-event:before,
.ribbon-event:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 30px solid #000000;
  position: absolute;
  top: -20px;
  z-index: 0;
}
.ribbon-event:before {
  border-left: 30px solid transparent;
  left: 15px;
}
.ribbon-event:after {
  border-right: 30px solid transparent;
  right: 15px;
}
.main-navigation {
  margin-top: 3em;
  text-align: center;
}
.main-navigation > ul > li {
  margin-bottom: 1.5em;
}
.main-navigation > ul > li a {
  color: #1a1a1a;
  text-transform: uppercase;
  -webkit-text-stroke: 0.5px;
}
.main-navigation > ul > li a:hover {
  color: #FFFAF0;
}
.current-menu-item > a {
  color: #FFFAF0 !important;
}
.main-footer {
  position: absolute;
  margin: 0 !important;
  bottom: 4.5em;
  left: 0;
}
.main-footer > h6 {
  text-align: center;
  -webkit-text-stroke: 0.3px;
}
/*========== Bredcrumbs ==========*/
.breadcrumbs {
  padding: 3em 0 1.5em;
  text-align: center;
}
.breadcrumbs p {
  color: #c4c4c4;
  -webkit-text-stroke: 0.2px;
  text-transform: uppercase;
}
/*========== Home ==========*/
.slider-content {
  padding: 3em 0;
  overflow: hidden;
  min-height: 900px;
  position: relative;
}
.slider-content > a {
  position: absolute;
  top: 9em;
  color: #1a1a1a;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.05);
}
.slider-content > a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #ff7777;
}
.slider-content > a > b {
  width: 100px;
  display: inline-block;
}
.slider-content > a > i {
  /*font-size: 4.5em;
  font-family: fixedsys, consolas, monospace;*/
  font-size: 5em;
}
.slider-content .prev-slider {
  left: 0;
}
.slider-content .next-slider {
  right: 0;
}
.slider-content .next-slider > b {
  text-align: right;
}
.slider-content > ul {
  *zoom: 1;
  width: 10000px;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.slider-content > ul:before,
.slider-content > ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.slider-content > ul:after {
  clear: both;
}
.slider-content > ul:hover ~ .prev-slider {
  left: 0;
}
.slider-content > ul:hover ~ .next-slider {
  right: 0;
}
.slider-content > ul > li {
  padding: 1.5em;
  background: #ffffff;
  float: left;
  margin-right: 1.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-content > ul > li:last-child {
  margin-right: 0;
}
.slider-content > ul > li > figure {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
}
.slider-content > ul > li > figure a:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.slider-content > ul > li > figure a:hover + figcaption {
  margin-left: -125px;
  left: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.slider-content > ul > li > figure > figcaption {
  position: absolute;
  bottom: 25px;
  left: -500px;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3);
  background: url(../img/slider-dec.png) 0 0 no-repeat rgba(255, 255, 255, 0.5);
}
.slider-content > ul > li > figure > figcaption:hover {
  margin-left: -125px;
  left: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.slider-content > ul > li > figure > figcaption > h2 {
  padding: 100px 30px 0 30px;
  text-align: center;
}
.slider-content > ul > li > figure > figcaption > h2 > a {
  color: #1a1a1a;
}
.slider-content > ul > li > figure > figcaption > h2 > a:hover {
  color: #ff7777;
}
/*========== Photo album ==========*/
.filter-album {
  margin: 3em 0 1.5em;
}
.filter-album > ul {
  *zoom: 1;
  display: table;
  margin: 0 auto;
}
.filter-album > ul:before,
.filter-album > ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.filter-album > ul:after {
  clear: both;
}
.filter-album > ul > li {
  float: left;
  margin: 0 0.75em;
}
.filter-album > ul > li > label {
  padding: 0;
}
.filter-album > ul > li > label > input[type=checkbox] {
  display: none;
}
.filter-album > ul > li > label > input[type=checkbox]:checked + b {
  background-color: #ff9191;
  color: #ffffff;
}
.filter-album > ul > li > label > b {
  background-color: #e5e5e5;
  padding: 1.5em;
  display: inline-block;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.filter-album > ul > li > label > b:hover {
  background-color: #ffc4c4;
  color: #ffffff;
}
.photo-album {
  margin-top: 1.5em;
}
.photo-album ul {
  *zoom: 1;
}
.photo-album ul:before,
.photo-album ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.photo-album ul:after {
  clear: both;
}
.photo-album ul > li {
  float: left;
  width: 25%;
  height: auto;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.photo-album ul > li > figure {
  position: relative;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}
.photo-album ul > li > figure > a:hover + figcaption {
  top: 0;
}
.photo-album ul > li > figure > a:hover + figcaption > .zoom-image {
  right: 60%;
}
.photo-album ul > li > figure > figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: -300%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.photo-album ul > li > figure > figcaption:hover {
  top: 0;
}
.photo-album ul > li > figure > figcaption:hover > .zoom-image {
  right: 60%;
}
.photo-album ul > li > figure > figcaption > h4 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 3em;
}
.photo-album ul > li > figure > figcaption > a {
  position: absolute;
  top: 50%;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 21px;
  height: 21px;
  display: inline-block;
  -webkit-transition: all 0 ease-out;
  -moz-transition: all 0 ease-out;
  -o-transition: all 0 ease-out;
  transition: all 0 ease-out;
}
.photo-album ul > li > figure > figcaption .zoom-image {
  background: url(../img/photo-helpers.png) -22px 0 no-repeat transparent;
  right: -50%;
  margin-right: -30px;
  -webkit-transition: right 0.8s ease-out;
  -moz-transition: right 0.8s ease-out;
  -o-transition: right 0.8s ease-out;
  transition: right 0.8s ease-out;
}
.photo-album ul > li > figure > figcaption .zoom-image:hover {
  background: url(../img/photo-helpers.png) -22px -21px no-repeat transparent;
}
.active-pagination > a {
  background: #b776a8 !important;
}
.show-item {
  -webkit-transform: scale(1.000001);
  -moz-transform: scale(1.000001);
  -ms-transform: scale(1.000001);
  -o-transform: scale(1.000001);
  transform: scale(1.000001);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.hide-item {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
/*========== Wedding page ==========*/
.cowntdown {
  margin: 3em 0 6em;
}
.cowntdown > li {
  background: url(../img/countdown-decor.png) 95% 90% no-repeat #b776a8;
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  background-size: 30%;
  padding: 1.5em 0;
  text-align: center;
  position: relative;
}
.cowntdown > li:last-child:after {
  background: none;
  width: 0;
  height: 0;
}
.cowntdown > li:after {
  content: '';
  background: url(../img/hearts.png) center center no-repeat;
  width: 36px;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -60%;
}
.cowntdown > li > b {
  display: block;
  font-size: 3em;
  color: #ffffff;
  line-height: 1em;
}
.cowntdown > li > span {
  text-transform: uppercase;
  display: block;
}
.wedding-hints {
  background: #f5f5f5;
  display: table;
  margin: 3em 0;
}
.wedding-hints > div {
  float: none !important;
  display: table-cell !important;
  vertical-align: top;
}
.dark-section {
  background: #3f3f3f;
  padding: 3%;
  margin: 0 !important;
  width: auto !important;
}
.slider-content-people {
  overflow: hidden;
  margin-bottom: 1.5em;
}
.slider-people {
  *zoom: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.slider-people:before,
.slider-people:after {
  display: table;
  content: "";
  line-height: 0;
}
.slider-people:after {
  clear: both;
}
.slider-people > li {
  float: left;
  width: 50%;
}
.slider-people > li > figure {
  margin: 0;
}
.slider-people > li > figure figcaption{
  display: none;
}
.slider-people > li > figure > a {
  display: block;
  background: #3f3f3f;
}
.slider-people > li > figure > a > img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider-people > li > figure > a:hover > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.nav-slider-people {
  *zoom: 1;
  margin: 0;
}
.nav-slider-people:before,
.nav-slider-people:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-slider-people:after {
  clear: both;
}
.nav-slider-people > li {
  float: left;
  margin-right: 7px;
}
.nav-slider-people > li > a {
  background: #000000;
  width: 21px;
  height: 21px;
  display: block;
  color: #c4c4c4;
  font-size: 1.5em;
  line-height: 1em;
  text-align: center;
  font-family: fixedsys, consolas, monospace;
}
.nav-slider-people > li > a:hover {
  color: #ffffff;
  background: #272727;
}
.round-image {
  background: #e5e5e5;
  margin: 0 !important;
  position: relative;
}
.round-image > h2 {
  text-align: center;
  margin: 1.5em 0;
  padding-left: 3em;
}
.round-image > figure {
  padding: 0 1.5em 0 6em;
}
.round-image > figure > a {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
}
.round-image > figure > a:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.round-image > figure > a:hover:after {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
}
.round-image > figure > figcaption {
  background-color: #d8d8d8;
  position: absolute;
  width: 4.5em;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.round-image > figure > figcaption > span {
  font-family: fixedsys, consolas, monospace;
  font-weight: 900;
  width: 0.5em;
  display: block;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: center;
  margin: 1.5em auto 0;
  line-height: 1em;
}
.round-image > figure > figcaption > b {
  background: #000000;
  color: #ffffff;
  display: block;
  font-size: 2em;
  line-height: 2.5em;
  padding-bottom: 0.5em;
  text-align: center;
  text-shadow: 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff, 0px 1px 1px #ffffff;
}
.text-box {
  padding: 0 1.5em;
  position: relative;
}
.text-box > h4 {
  margin: 2.25em 0;
  color: #b776a8;
}
.text-box > p {
  margin-bottom: 6em;
}
.text-box .social-bar {
  position: absolute;
  bottom: 1.5em;
}
.social-bar {
  background: #000000;
  display: inline-block;
  *zoom: 1;
}
.social-bar:before,
.social-bar:after {
  display: table;
  content: "";
  line-height: 0;
}
.social-bar:after {
  clear: both;
}
.social-bar:hover {
  background: #1a1a1a;
}
.social-bar > input[type=checkbox] {
  display: none;
}
.social-bar > input[type=checkbox]:checked ~ ul {
  display: block;
}
.social-bar > label {
  color: #c4c4c4;
  float: right;
  padding: 0.375em 0.75em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.social-bar > label .share-btn {
  background: url(../img/share-icon.png) 0 2px no-repeat;
  padding-left: 1.5em;
}
.social-bar > ul {
  margin: 0;
  float: left;
  display: none;
  padding: 0 1em;
}
.social-bar > ul > li {
  float: left;
  padding: 0.375em 0;
  margin-right: 7px;
}
.social-bar > ul > li > a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 21px;
  height: 21px;
  display: block;
  border-radius: 50%;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  -kthml-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}
.social-bar > ul > li > a[title=Facebook] {
  background: url(../img/social-footer.png) 2px -21px no-repeat #4d4d4d;
}
.social-bar > ul > li > a[title=Facebook]:hover {
  background: url(../img/social-footer.png) 2px 0px no-repeat #4c70ba;
}
.social-bar > ul > li > a[title=Twitter] {
  background: url(../img/social-footer.png) -19px -21px no-repeat #4d4d4d;
}
.social-bar > ul > li > a[title=Twitter]:hover {
  background: url(../img/social-footer.png) -19px 0px no-repeat #2489c5;
}
.social-bar > ul > li > a[title=Pinterest] {
  background: url(../img/social-footer.png) -42px -21px no-repeat #4d4d4d;
}
.social-bar > ul > li > a[title=Pinterest]:hover {
  background: url(../img/social-footer.png) -42px 0px no-repeat #cb2027;
}
.violet-section {
  margin-top: 2.25em;
}
.violet-section:first-child {
  padding-right: 7px;
}
.violet-section:last-child {
  padding-left: 7px;
}
.violet-section > h1 {
  text-align: center;
  font-weight: 300;
}
.violet-section > h1 > a {
  color: #000000;
  -webkit-text-stroke: 0.3px;
}
.violet-section > h1 > a:hover {
  color: #b776a8;
}
.violet-section > article {
  background: #b776a8;
  color: #ffffff;
}
.meta-article {
  /*box-shadow: 0 1px 0 #c087b3;*/
}
.meta-article > li {
  height: 2.25em;
  line-height: 2.25em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
  overflow: hidden;
}
.calendar-icon {
  background: url(../img/calendar.png) left center no-repeat transparent;
}
.clock-icon {
  background: url(../img/clock.png) left center no-repeat transparent;
}
/*========== Date and Place ==========*/
.wedding-detail {
  display: table;
  margin: 3em 0;
}
.wedding-detail > div {
  float: none !important;
  display: table-cell !important;
  vertical-align: top;
}
.wedding-image {
  width: auto !important;
}
.wedding-image > figure {
  margin-bottom: 0 !important;
  position: relative;
  overflow: hidden;
}
.wedding-image > figure > figcaption {
  position: absolute;
  top: 0;
  right: -1000px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.wedding-image > figure > figcaption > iframe {
  width: 100%;
  height: 100%;
}
.info-wedding {
  margin: 0 !important;
  position: relative;
  padding-bottom: 6em;
  -webkit-box-shadow: inset 0 0 0 1px #e5e5e5;
  box-shadow: inset 0 0 0 1px #e5e5e5;
}
.info-wedding h1 {
  text-align: center;
  font-weight: 300;
  padding: 0.5em 0;
  -webkit-box-shadow: 0 1px 0 #e5e5e5;
  box-shadow: 0 1px 0 #e5e5e5;
}
.info-wedding .meta-article {
  background: #ff9191;
  padding-top: 0.75em;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 !important;
  font-size: 130%;
}
.info-wedding > p,
.info-wedding > div,
.info-wedding > a {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.info-wedding > p {
  font-style: italic;
  text-align: right;
}
.get-direction {
  /*margin-bottom: 3em;*/
  font-size: 120%;
}
.get-direction > p {
  background: url(../img/pin.png) left top no-repeat transparent;
  padding-left: 2em;
  line-height: 2.25em;
  margin-bottom: 3px;
}
.get-direction > a {
  margin-left: 2em;
  color: #ff5e5e;
  text-transform: uppercase;
}
.get-direction > a:hover {
  color: #ff5e5e;
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: rgba(255, 255, 255, 0.8);
}
#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(#cccccc, #999999);
  background-image: -moz-linear-gradient(#cccccc, #999999);
  background-image: -o-linear-gradient(#cccccc, #999999);
  background-image: linear-gradient(#cccccc, #999999);
  -webkit-box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  -moz-box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
#swipebox-action {
  -webkit-box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
  -moz-box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
  box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
}
#swipebox-caption {
  color: white!important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
@-ms-viewport {
  
}
@-moz-document url-prefix() {
  .meta-article-item:after {
    letter-spacing: 0;
  }
  .wedding-hints {
    display: block !important;
    position: relative;
  }
  .wedding-hints > div {
    float: left !important;
  }
  .wedding-hints .round-image {
    display: block !important;
  }
  .wedding-hints .dark-section {
    display: block !important;
    width: 32.4895% !important;
  }
  .wedding-hints .text-box {
    position: static;
  }
  .social-bar {
    position: absolute: bottom: 10px;
  }
  @media (max-width: 1200px) {
    .round-image {
      width: 60% !important;
    }
  }
  @media (max-width: 767px) {
    .wedding-hints .round-image {
      width: 100% !important;
    }
    .wedding-hints .round-image figure {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/*========== RSVP ==========*/
.rsvp-section {
  background: url(../img/rsvp_dec.png) 0 center no-repeat transparent;
  -webkit-background-size: 6%;
  -moz-background-size: 6%;
  background-size: 6%;
}
.rsvp-form {
  background: #e5e5e5;
  margin: 3em 0;
}
.rsvp-form > h1 {
  text-align: center;
  margin: 0.3333333333333333em 0;
  font-family: 'CACChampagneRegular';
  text-transform: none;
  font-size: 4.5em;
  font-weight: 300;
}
.rsvp-form > form input[type=text],
.rsvp-form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rsvp-form > form textarea {
  min-height: 9em;
}
.rsvp-form .span10 {
  padding-left: 0.75em;
}
.rsvp-form label {
  padding-left: 0;
  padding-right: 1.5em;
}
.rsvp-form label > input[type=radio] {
  display: none;
}
.rsvp-form label > input[type=radio]:checked + b:after {
  content: '\2713';
  box-shadow: none;
  background: #b776a8;
  color: #ffffff;
  text-align: center;
  line-height: 21px;
  font-size: 16px;
  -webkit-text-stroke: 0.3px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.rsvp-form label > b {
  padding-left: 2.25em;
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 1.75px;
}
.rsvp-form label > b:after {
  content: '';
  width: 21px;
  height: 21px;
  display: block;
  box-shadow: inset 0 0 0 3px #cccccc;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.main-footer {
  position: absolute;
  margin: 0 !important;
  bottom: 4.5em;
  left: 0;
}
.main-footer > h6 {
  text-align: center;
  -webkit-text-stroke: 0.3px;
}
.social-footer {
  *zoom: 1;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.social-footer:before,
.social-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.social-footer:after {
  clear: both;
}
.social-footer > li {
  float: left;
  margin: 0 3.5px;
}
.social-footer > li > a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 21px;
  height: 21px;
  display: block;
}
.social-footer > li > a[title=Facebook] {
  background: url(../img/social-footer.png) 2px 0 no-repeat #3b5998;
}
.social-footer > li > a[title=Facebook]:hover {
  background: url(../img/social-footer.png) 2px 0 no-repeat #4c70ba;
}
.social-footer > li > a[title=Twitter] {
  background: url(../img/social-footer.png) -20px 0 no-repeat #2489c5;
}
.social-footer > li > a[title=Twitter]:hover {
  background: url(../img/social-footer.png) -20px 0 no-repeat #40a2dc;
}
.social-footer > li > a[title=Pinterest] {
  background: url(../img/social-footer.png) -42px 0 no-repeat #cb2027;
}
.social-footer > li > a[title=Pinterest]:hover {
  background: url(../img/social-footer.png) -42px 0 no-repeat #e03e44;
}
.swipebox {
  overflow: hidden!important;
}
#swipebox-overlay img {
  border: none!important;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999!important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#swipebox-slider .slide {
  background: url("../img/loader.gif") no-repeat center center;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-action,
#swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}
#swipebox-action {
  top: -50px;
}
#swipebox-action.visible-bars {
  top: 0px;
}
#swipebox-action.force-visible-bars {
  top: 0px!important;
}
#swipebox-caption {
  bottom: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  bottom: 0;
}
#swipebox-caption.force-visible-bars {
  bottom: 0!important;
}
#swipebox-action #swipebox-prev,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  border: none!important;
  text-decoration: none!important;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
}
#swipebox-action #swipebox-close {
  background-position: 15px 12px;
  right: 40px;
  top: 0px;
}
#swipebox-action #swipebox-prev {
  background-position: -32px 13px;
  right: 50%;
   margin-right: -10px;
}
#swipebox-action #swipebox-next {
  background-position: -78px 13px;
  left: 50%;
  margin-left: 10px;
}
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
#swipebox-slider.rightSpring {
  -moz-animation: rightSpring 0.3s;
  -webkit-animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
  -moz-animation: leftSpring 0.3s;
  -webkit-animation: leftSpring 0.3s;
}
@-moz-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-moz-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes rightSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0px;
  }
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: rgba(255, 255, 255, 0.8);
}
#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(#cccccc, #999999);
  background-image: -moz-linear-gradient(#cccccc, #999999);
  background-image: -o-linear-gradient(#cccccc, #999999);
  background-image: linear-gradient(#cccccc, #999999);
  -webkit-box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  -moz-box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  box-shadow: 0 1px 1px 1px #888888, inset 0 1px 1px px #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
#swipebox-action {
  -webkit-box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
  -moz-box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
  box-shadow: 0 -1px -1px 1px #ffffff, inset 0 -1px -1px 1px #999999;
}
#swipebox-caption {
  color: white!important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
@-ms-viewport {
  
}
@-moz-document url-prefix() {
  .meta-article-item:after {
    letter-spacing: 0;
  }
  .wedding-hints {
    display: block !important;
    position: relative;
  }
  .wedding-hints > div {
    float: left !important;
  }
  .wedding-hints .round-image {
    display: block !important;
  }
  .wedding-hints .dark-section {
    display: block !important;
    width: 32.4895% !important;
  }
  .wedding-hints .text-box {
    position: static;
  }
  .social-bar {
    position: absolute: bottom: 10px;
  }
  @media (max-width: 1200px) {
    .round-image {
      width: 60% !important;
    }
  }
  @media (max-width: 767px) {
    .wedding-hints .round-image {
      width: 100% !important;
    }
    .wedding-hints .round-image figure {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 1200px) {
  .photo-album ul > li {
    width: 33.333333333333336%;
  }
  .wedding-hints .dark-section {
    width: 100% !important;
    display: block !important;
  }
  .wedding-hints {
    display: block !important;
  }
  .violet-section {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
  .violet-section figure {
    text-align: center;
  }
  .cowntdown [class*=offset] {
    margin: 0 !important;
  }
  .cowntdown [class*=span3] {
    width: 25% !important;
    float: left !important;
  }
  .cowntdown [class*=span3]:after {
    background: none !important;
  }
  .wedding-detail,
  .wedding-detail > div {
    display: block !important;
    width: 100% !important;
  }
  .wedding-image {
    text-align: center !important;
  }
  .meta-article-item {
    width: 100% !important;
    padding-left: 6em;
  }
  .meta-article-item:after {
    left: 0.5em;
  }
  .tab-list > li > figure,
  .tab-list .span6 {
    width: 100% !important;
  }
  .meta-comments {
    padding-bottom: 1.5em;
  }
  .meta-comments > li {
    float: none !important;
    display: block;
    width: 100%;
  }
  .meta-comments > li h4 {
    margin: 0;
  }
  .categories > li:after {
    content: '';
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .about-love-story figure > figcaption {
    display: none;
  }
  .photo-widget > ul > li {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .menu-helper {
    display: none !important;
  }
  .main-container {
    padding-bottom: 9em;
  }
  .menu-side {
    position: static;
    padding: 1.5em 0;
  }
  .menu-side > h1 {
    margin-top: 0;
  }
  .slider-content > ul {
    padding-left: 0.75em;
  }
  .photo-widget > ul > li {
    width: 33.333333333333336%;
  }
  .about-love-story figure {
    text-align: center;
  }
  .round-image {
    width: 50% !important;
  }
  .round-image > figure > a, .round-image > figure > a:after {
    border-radius: 0 !important;
  }
  .article-content,
  .meta-article {
    padding: 0 3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .info-wedding {
    padding-bottom: 9em;
  }
  .search-form button[type=submit] {
    display: none !important;
  }
  .blog-sidebar {
    padding: 0 1.5em;
  }
  .blog-post {
    margin: 0 1.5em;
  }
  .blog-post > figure > figcaption,
  .blog-post .blog-content {
    padding: 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .responsive-tabs-wrapper {
    padding: 1.5em;
  }
  .responsive-tabs-wrapper figure {
    text-align: center;
  }
  .pagination {
    padding: 0 1em;
  }
  .comment-area {
    margin: 0 1.5em;
  }
  .comment-area > div > h3 {
    padding: 0 1.5em;
  }
  .comment-container figure {
    text-align: center;
  }
  .comment-form {
    padding: 0 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rsvp-section {
    padding: 0 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
  }
  .rsvp-form {
    padding: 0 1.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .rsvp-form .span10 {
    padding-left: 0 !important;
  }
  .about-love-story {
    overflow: hidden;
  }
  .about-love-story p,
  .about-love-story .story-timeline {
    padding: 0 1.5em;
  }
}
@media print {
  
}
@media (max-width: 480px) {
  .round-image > h2 {
    font-size: 1em !important;
    padding-left: 4.5em;
  }
}
@media (max-width: 979px) {
  .photo-album ul > li {
    width: 50%;
  }
  .filter-album > ul {
    display: block;
  }
  .filter-album > ul > li {
    float: none;
  }
  .filter-album > ul > li > label > b {
    display: block;
  }
  .responsive-tabs__list__item {
    font-size: 0.75em;
  }
  .slider-content > ul > li > figure > figcaption {
    margin-left: -125px;
    left: 50%;
  }
}
@media (min-width: 980px) {
  
}
.close-button{
  position: absolute;
  top: 7px;
  right: 7px;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.static-menu{
  position: fixed !important;
  /*-webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  -ms-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;*/
}
.menu-side.static-menu.static-menu-full{
  margin-bottom: 0;
}
.static-menu .her-and-him{
  margin-top: 0 !important;
}

#maps_cer, #maps_rec{
  width: 100%;
  height: 100%;
}
